.button {
    padding: 16px 24px;
    color: var(--color-white);
    background-color: var(--color-accent);
    border: 2px solid var(--color-accent);
    font-weight: 900;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
}

.button--grey-300 {
    color: var(--color-dark-222);
    background-color: var(--color-grey-300);
    border: 2px solid var(--color-grey-300);
}

@media (any-hover: hover) {
    .button:hover {
        background-color: transparent;
    }

    .button--grey-300:hover {
        color: var(--color-dark-222);
    }
}

@media (any-hover: none) {
    .button:active {
        scale: 1.05;
    }
}