.review-card {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    padding: 32px;
    width: 100%;
    max-width: 648px;
    height: 100%;
    background-color: var(--color-white);
    box-shadow: var(--shadow);
}

.review-card__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
}

.review-card__description {
    font-size: 14px;
}

@media (width <= 1024px) {
    .review-card {
        max-width: 576px;
    }
}

@media (width <= 768px) {
    .review-card {
        padding: 24px;
        max-width: 340px;
    }

    .review-card__icon {
        display: none;
    }
}
