.services {
    background-color: var(--color-grey-100);
}

.services__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 38px 24px;
}

@media (width <= 1024px) {
    .services__list {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 24px;
    }
}

@media (width <= 768px) {
    .services {
        width: 100vw;
    }

    .services__list {
        display: flex;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        margin-right: calc(var(--container-padding-x) * -1);
    }

    .services__item {
        scroll-snap-align: start;
    }
}