.container {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    padding-inline: var(--container-padding-x);
    margin-inline: auto;
}

.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    overflow: hidden !important;
}

.text-accent {
    color: var(--color-accent);
    text-transform: uppercase;
}

.title-decoration {
    position: relative;
    text-transform: uppercase;

    &::after {
        content: '';
        position: absolute;
        bottom: -10px;
        width: 50px;
        height: 3px;
        background-color: var(--color-accent);
    }
}

.title-decoration--center::after {
    left: 50%;
    translate: -50% -50%;
}

.title-decoration--left::after {
    left: 0;
}